.topheader {
	background-color:black;
	position: absolute;
	width:100%;
	height:45px;
	margin:0px;
	top:0px;
	left:0px;
}

* {
 font-family: Segoe UI, sans-serif;
 font-size: 12px;
}

.movbutton {
	position: absolute;
	top: 80px;
	height: 100px;
	width: 100px;
	cursor: pointer;
	z-index: 900;
	opacity: 0.5;
	border-width: 1px;
	border-style: solid;
	transition: opacity .25s ease-in-out;
}
.movbutton:hover {
	position: absolute;
	top: 55px;
	height: 200px;
	width: 200px;
	cursor: pointer;
	z-index: 999;
	opacity: 1;
}
.movbutton_click {
	opacity: 1.0;
}

.movbutton.mov1 {
	left: 50px;
}
.movbutton.mov1:hover {
	left: 0px;
}

.movbutton.mov2 {
	left: 150px;
}
.movbutton.mov2:hover {
	left: 100px;
}

.movbutton.mov3 {
	left: 250px;
}
.movbutton.mov3:hover {
	left: 200px;
}

.movbutton.mov5 {
	left: 350px;
}
.movbutton.mov5:hover {
	left: 300px;
}

.movbutton.mov6 {
	left: 450px;
}
.movbutton.mov6:hover {
	left: 400px;
}

.movbutton.mov7 {
	left: 550px;
}
.movbutton.mov7:hover {
	left: 500px;
}

.movbutton.mov9 {
	left: 650px;
}
.movbutton.mov9:hover {
	left: 600px;
}

.movbutton.mov4 {
	left: 750px;
}
.movbutton.mov4:hover {
	left: 700px;
}

.movbutton.mov8 {
	left: 850px;
}
.movbutton.mov8:hover {
	left: 800px;
}

.facbutton {
	position: absolute;
	top: 181px;
	height: 100px;
	width: 100px;
	cursor: pointer;
	z-index: 990;
	opacity: 0.5;
	border-width: 1px;
	border-style: solid;
	transition: opacity .25s ease-in-out;
}
.facbutton:hover {
	top: 156px;
	height: 200px;
	width: 200px;
	z-index: 999;
	opacity: 1;
}
.facbutton_click {
	opacity: 1.0;
}

.facbutton.fac1 {
	left: 50px;
}
.facbutton.fac1:hover {
	left: 0px;
}

.facbutton.fac2 {
	left: 150px;
}
.facbutton.fac2:hover {
	left: 100px;
}

.facbutton.fac3 {
	left: 250px;
}
.facbutton.fac3:hover {
	left: 200px;
}

.facbutton.fac4 {
	left: 350px;
}
.facbutton.fac4:hover {
	left: 300px;
}

.facbutton.fac5 {
	left: 450px;
}
.facbutton.fac5:hover {
	left: 400px;
}

.facbutton.fac6 {
	left: 550px;
}
.facbutton.fac6:hover {
	left: 500px;
}

.facbutton.fac7 {
	left: 650px;
}
.facbutton.fac7:hover {
	left: 600px;
}

.facbutton.fac8 {
	left: 750px;
}
.facbutton.fac8:hover {
	left: 700px;
}

.facbutton.fac9 {
	left: 850px;
}
.facbutton.fac9:hover {
	left: 800px;
}

.facbutton.fac10 {
	top: 282px;
	left: 50px;
}
.facbutton.fac10:hover {
	top: 247px;
	left: 0px;
}

.facbutton.fac11 {
	top: 282px;
	left: 150px;
}
.facbutton.fac11:hover {
	top: 247px;
	left: 100px;
}

.facbutton.fac12 {
	top: 282px;
	left: 250px;
}
.facbutton.fac12:hover {
	top: 247px;	
	left: 200px;
}

.facbutton.fac13 {
	top: 282px;
	left: 350px;
}
.facbutton.fac13:hover {
	top: 247px;	
	left: 300px;
}

.oldbutton {
	position: absolute;
	top: 186px;
	height: 50px;
	width: 50px;
	cursor: pointer;
	z-index: 990;
	opacity: 0.5;
	border-width: 1px;
	border-style: solid;
}
.oldbutton:hover {
	top: 161px;
	height: 100px;
	width: 100px;
	z-index: 999;
	opacity: 1;
}
.oldbutton_click {
	opacity: 1.0;
}

.oldbutton.old1 {
	left: 0px;
}
.oldbutton.old1:hover {
	left: -25px;
}

.oldbutton.old2 {
	left: 50px;
}
.oldbutton.old2:hover {
	left: 25px;
}

.oldbutton.old3 {
	left: 100px;
}
.oldbutton.old3:hover {
	left: 75px;
}

.oldbutton.old4 {
	left: 150px;
}
.oldbutton.old4:hover {
	left: 125px;
}

.oldbutton.old5 {
	left: 200px;
}
.oldbutton.old5:hover {
	left: 175px;
}

.oldbutton.old6 {
	left: 250px;
}
.oldbutton.old6:hover {
	left: 225px;
}

.oldbutton.old7 {
	left: 300px;
}
.oldbutton.old7:hover {
	left: 275px;
}

.oldbutton.old8 {
	left: 350px;
}
.oldbutton.old8:hover {
	left: 325px;
}

.oldbutton.old9 {
	left: 400px;
}
.oldbutton.old9:hover {
	left: 375px;
}


.olebutton {
	position: absolute;
	top: 186px;
	height: 50px;
	width: 50px;
	cursor: pointer;
	z-index: 990;
	opacity: 0.5;
	border-width: 1px;
	border-style: solid;
}
.olebutton:hover {
	top: 161px;
	height: 100px;
	width: 100px;
	z-index: 999;
	opacity: 1;
}
.olebutton_click {
	opacity: 1.0;
}

.olebutton.ole1 {
	left: 500px;
}
.olebutton.ole1:hover {
	left: 475px;
}

.olebutton.ole2 {
	left: 550px;
}
.olebutton.ole2:hover {
	left: 525px;
}

.olebutton.ole3 {
	left: 600px;
}
.olebutton.ole3:hover {
	left: 575px;
}

.olebutton.ole4 {
	left: 650px;
}
.olebutton.ole4:hover {
	left: 625px;
}

.olebutton.ole5 {
	left: 700px;
}
.olebutton.ole5:hover {
	left: 675px;
}

.olebutton.ole6 {
	left: 750px;
}
.olebutton.ole6:hover {
	left: 725px;
}

.olebutton.ole7 {
	left: 800px;
}
.olebutton.ole7:hover {
	left: 775px;
}

.olebutton.ole8 {
	left: 850px;
}
.olebutton.ole8:hover {
	left: 825px;
}

.olebutton.ole9 {
	left: 900px;
}
.olebutton.ole9:hover {
	left: 875px;
}

.bocabutton {
	position: absolute;
	top: 286px;
	height: 60px;
	width: 120px;
	cursor: pointer;
	z-index: 990;
	opacity: 0.5;
	border-width: 1px;
	border-style: solid;
}
.bocabutton:hover {
	top: 276px;
	height: 90px;
	width: 180px;
	z-index: 999;
	opacity: 1;
}
.bocabutton_click {
	opacity: 1.0;
}

.bocabutton.boc1 {
	left: 0px;
}
.bocabutton.boc1:hover {
	left: -20px;
}

.bocabutton.boc2 {
	left: 120px;
}
.bocabutton.boc2:hover {
	left: 100px;
}

.bocabutton.boc3 {
	left: 240px;
}
.bocabutton.boc3:hover {
	left: 220px;
}

.bocabutton.boc4 {
	left: 360px;
}
.bocabutton.boc4:hover {
	left: 340px;
}

.bocabutton.boc5 {
	left: 480px;
}
.bocabutton.boc5:hover {
	left: 460px;
}

.bocabutton.boc6 {
	left: 600px;
}
.bocabutton.boc6:hover {
	left: 580px;
}

.bocabutton.boc7 {
	left: 720px;
}
.bocabutton.boc7:hover {
	left: 700px;
}

.bocabutton.boc8 {
	left: 840px;
}
.bocabutton.boc8:hover {
	left: 820px;
}


		
h1{
	font-size: 100%;
	font-weight: normal;
	padding-top: 10%;
		
}
